<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Cybersecurity Login</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="login-page">

<div class="login-container">

    <div class="login-box">

        <div class="login-icon">🔐</div>

        <h1>Cybersecurity Risk Detection</h1>

        <p>Risk & Audit Intelligence System</p>

        {% if error %}
            <div class="error-message">
                {{ error }}
            </div>
        {% endif %}

        <form method="POST">

            <label>Username</label>

            <input
                type="text"
                name="username"
                placeholder="Enter username"
                required
            >

            <label>Password</label>

            <div class="password-box">

                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Enter password"
                    required
                >

                <button
                    type="button"
                    class="show-password"
                    onclick="togglePassword()">
                    👁️
                </button>

            </div>

            <button type="submit" class="login-button">
                LOGIN
            </button>

        </form>

    </div>

</div>


<script>

function togglePassword() {

    const password =
        document.getElementById("password");

    if (password.type === "password") {

        password.type = "text";

    } else {

        password.type = "password";

    }
}

</script>

</body>
</html>